
<section class="hero is-fullheight-with-navbar" id="main" #home>
    <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item noHover">
            <img src="assets/images/rect1.png">
        </a>
        <a class="navbar-item noHover">
            <div class="field">
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="text" placeholder="Search missions, agents, protocols">
                    <span class="icon is-small is-left">
                    <i class="fas fa-search"></i>
                    </span>
                </div>
            </div>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">

        </div>

        <div class="navbar-end">
            <a class="navbar-item" id="status">
                <button class="button" id="whoami"><span class="icon is-small is-left">
                    <i class="fas fa-power-off" style="color: rgb(57, 251, 43);"></i>
                    </span>STATUS:&nbsp;<span style="color: rgb(57, 251, 43)">ONLINE</span></button>
            </a>
            <a class="navbar-item">
                <button class="button" id="whoami"><span class="icon is-small is-left">
                    <i class="fas fa-bolt" style="color: rgb(43, 230, 251);"></i>
                    </span><span style="color: rgb(43, 230, 251)">0&nbsp;</span><span style="color: rgb(43, 230, 251)">ACTIVE</span></button>
            </a>
            <a class="navbar-item" id="bell">
                <button class="button" id="whoaminoborder"><span class="icon is-small is-left">
                    <i class="fas fa-bell"></i>
                    </span></button>
            </a>

            <a class="navbar-item" id="gear">
                <button class="button" id="whoaminoborder"><span class="icon is-small is-left">
                    <i class="fas fa-gear"></i>
                    </span></button>
            </a>
            <a class="navbar-item">
                <div class="card">
                    <div class="card-content" id="userview">
                        <div class="media">
                            <div class="media-left" id="medial">
                            
                                <img
                                    src="https://bulma.io/assets/images/placeholders/96x96.png"
                                    alt="Placeholder image"
                                    id="userphoto"
                                />
                                
                            </div>
                            <div class="media-content" id="mediac">
                                <p class="title is-6" style="color: white; font-size:medium;">RANK</p>
                                <p class="subtitle is-6" style="color: darkgray; font-size: small;">LEVEL</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    </nav>

<nav class="level">
    <div class="columns">
        <div class="column">
            xd1
        </div>
        <div class="column">
            xd2
        </div>
        <div class="column">
            xd3
        </div>
        <div class="column">
            xd4
        </div>
    </div>
</nav>

<section class="hero is-link is-fullheight">
  <div class="hero-body">
    <p class="title">Fullheight hero with navbar</p>
  </div>
</section>
